*{
    margin: 0px;
}
#about_us{
    padding: 20px;
    border-left: 10px solid orange;
    border-right: 10px solid orange;
    font-weight: 100;
	font-size: 1.4vmax;
	line-height: 1.3;
}
#title{
    font-size: 3vmax;
    margin: 15px 0px;
}
#quote{
    padding: 2.4rem;
	color: #3f3f5a;
	display: block;
    text-align: center;
}
#quote p{
    padding-top: 20px;
}
#about_blocks{
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.about_content{
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    opacity: 0;
}
.visible{
    animation-name: op;
    animation-duration: 0.8s;
    opacity: 1;
}
@keyframes op {
    from{opacity: 0;}
    to{opacity: 1;}
}
.about_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.abt_img{
    border-radius: 10px;
    object-fit: cover;
    width: 26vmax;
    transition: box-shadow 0.2s;
    box-shadow: 0 5px 8px 0px rgba(100, 100, 100, 0.705), 0 10px 16px 10px rgba(100, 100, 100, 0.301);
}
.abt_img:hover{
    box-shadow: 0 5px 25px 0px rgba(143, 143, 143, 0.432), 0 10px 45px 10px rgba(100, 100, 100, 0.301);
}
.abt_txt_heading{
    font-size: 2.3vmax;
    margin: 25px 0px;
}

@media (max-width:500px) {
    .about_content{
        flex-direction: column;
        padding: 20px 10px;
        border: 2px solid gray;
        border-radius: 10px;
        margin-bottom: 35px;
    }
    .abt_img{
        margin-top: 20px;
        width: 80%;
        display: block;
        margin: auto;
        box-shadow: 0 2px 4px 0px rgba(100, 100, 100, 0.705), 0 5px 8px 0px rgba(100, 100, 100, 0.301);
    }
    .about_text{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}

.faq-card {
    padding: 15px;
    margin-bottom: 20px;
    color: #061441;
    border: 1px solid #061441 ;

    /* border: none;
       border-radius: 6px;
    */
    /* background-color: #17a2b8;
       background-color: #184aab;
    */

    /* Slow Shadow Effect*/
    transition: box-shadow 0.5s;

  }
  .faq-card hr {
    border-width: 0.2rem;
    border-color: #061441;
  }

  .faq-card:hover {
    box-shadow: 5px 0px 20px rgba(0,0,0, .8);
    /* box-shadow:4px 4px 7px rgb(32, 32, 32);  */

  }
