body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    position: relative;
    display: table;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .jumbotron {
    background-color: #212529;
    color: #fff;
    padding-top: 180px;
    padding-bottom: 150px;
    font-family: Montserrat, sans-serif;
    height: auto;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }

  .faq-card {
    padding: 15px;
    margin-bottom: 20px;
    color: #061441;
    border: 1px solid #061441 ;
    
    /* border: none;
       border-radius: 6px;
    */
    /* background-color: #17a2b8;
       background-color: #184aab;
    */

    /* Slow Shadow Effect*/
    transition: box-shadow 0.5s;

  }
  .faq-card hr {
    border-width: 0.2rem;
    border-color: #061441;
  }

  .faq-card:hover {
    box-shadow: 5px 0px 20px rgba(0,0,0, .8);
    /* box-shadow:4px 4px 7px rgb(32, 32, 32);  */

  }

  .faq-card p {
      /* color: #fff  */
  }



  .navbar {
    margin-bottom: 0;

    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    font-weight: bold ;
  }
  .navbar-transparent{
    background-color: rgb(255, 255, 255,0);
  }
  .navbar-bg{
    background-color: #061441;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #395496 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  .navbar-brand{
    padding: 0px;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }

  #brand-image{
    height: 50px;
  }
