.img1 {
  border-radius: 10px;
  /* box-shadow:  -webkit-box-shadow: 5px 5px 15px 5px #000000;  */
  box-shadow: 5px 5px 15px 5px #b1b1b1;
}

@media screen and (max-width: 1000px) {
  .img1 {
    width: 100%;
  }
  .head1 {
    display: flex;
  }
  .navmed {
    justify-content: center;
    align-items: center !important;
  }
}
@media screen and (max-width: 580px) {
  .img1 {
    width: 100%;
  }

  .texting {
    width: 100%;
    margin-top: 5% !important;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background-color: #fff;
}

.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  width: 100%;
  background: gray;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social li a:hover {
  transform: translateY(-10px);
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
.menu li a {
  align-items: center;
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  opacity: 0.75;
}
.menu li a:hover {
  opacity: 1.2;
}

.footer p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}
